Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

filter out relevant errors only
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

handle deeply nested tainted entities
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

do tainting after the merge
  execution/engine/execution_engine_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

edit the comment
  v2/pkg/engine/plan/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release execution 1.5.0 (#1207)
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

refactor worker error handling
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: if blocked, defer async event insertion to prevent deadlocks
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: abort AsyncResolveGraphQLSubscription if client context is cancelled
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

do not remove errors and fix comments
  execution/engine/execution_engine_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/required_fields_visitor.go
  v2/pkg/engine/plan/required_fields_visitor_test.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

limit recursion depth and fix a bug in related code
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/required_fields_visitor.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

move taintedObjects into separate file
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
  v2/pkg/engine/resolve/tainted_objects.go
  v2/pkg/engine/resolve/tainted_objects_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix lint errors
  v2/pkg/engine/resolve/tainted_objects.go
  v2/pkg/engine/resolve/tainted_objects_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix comments
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/tainted_objects.go
  v2/pkg/engine/resolve/tainted_objects_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix comment typo
  v2/pkg/engine/resolve/tainted_objects.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

[TT-15111] Added visor code review
  .github/workflows/visor.yaml
Owners: @wundergraph/Router

Revert "refactor worker error handling"
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: if blocked, defer async event insertion to prevent deadlocks (#1298)
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.227
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.227 (#1302)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

feat: add subscription management methods to subscriptionUpdater
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

put all tests under common test
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

feat: validate presence of optional @requires dependencies (#1297)
  execution/engine/execution_engine_helpers_test.go
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/required_fields_visitor.go
  v2/pkg/engine/plan/required_fields_visitor_test.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/tainted_objects.go
  v2/pkg/engine/resolve/tainted_objects_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.228
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

Update v2/CHANGELOG.md
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.228 (#1304)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: enable the tparallel lint check
  .golangci.yml
  v2/pkg/astnormalization/astnormalization_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_nullable_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/lexer/lexer_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

remove directive that won't be used
  .golangci.yml
Owners: @wundergraph/Router

fix: remove index after _entities in the path
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add edge cases and fix the comment
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

improve readability
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: remove index after _entities in the path (#1306)
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.229
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.229 (#1307)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: enable the tparallel lint check (#1305)
  .golangci.yml
  v2/pkg/astnormalization/astnormalization_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_nullable_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/lexer/lexer_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: support the oneOf directive
  execution/engine/engine_config_test.go
  execution/engine/testdata/full_introspection.json
  execution/engine/testdata/full_introspection_with_deprecated.json
  execution/engine/testdata/full_introspection_with_typenames.json
  v2/pkg/asttransform/baseschema.go
  v2/pkg/asttransform/fixtures/complete.golden
  v2/pkg/asttransform/fixtures/custom_query_name.golden
  v2/pkg/asttransform/fixtures/mutation_only.golden
  v2/pkg/asttransform/fixtures/schema_missing.golden
  v2/pkg/asttransform/fixtures/simple.golden
  v2/pkg/asttransform/fixtures/subscription_only.golden
  v2/pkg/asttransform/fixtures/subscription_renamed.golden
  v2/pkg/asttransform/fixtures/with_mutation_subscription.golden
  v2/pkg/astvalidation/operation_rule_values.go
  v2/pkg/astvalidation/operation_validation_test.go
  v2/pkg/engine/datasource/introspection_datasource/fixtures/schema_introspection.golden
  v2/pkg/engine/datasource/introspection_datasource/fixtures/schema_introspection_with_custom_root_operation_types.golden
  v2/pkg/federation/fixtures/federated_schema.golden
  v2/pkg/operationreport/externalerror.go
  v2/pkg/variablesvalidation/variablesvalidation.go
  v2/pkg/variablesvalidation/variablesvalidation_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

refactor the code
  execution/engine/engine_config_test.go
  v2/pkg/asttransform/baseschema.go
  v2/pkg/asttransform/fixtures/complete.golden
  v2/pkg/asttransform/fixtures/custom_query_name.golden
  v2/pkg/asttransform/fixtures/mutation_only.golden
  v2/pkg/asttransform/fixtures/schema_missing.golden
  v2/pkg/asttransform/fixtures/simple.golden
  v2/pkg/asttransform/fixtures/subscription_only.golden
  v2/pkg/asttransform/fixtures/subscription_renamed.golden
  v2/pkg/asttransform/fixtures/with_mutation_subscription.golden
  v2/pkg/astvalidation/operation_rule_values.go
  v2/pkg/astvalidation/operation_validation_test.go
  v2/pkg/engine/datasource/introspection_datasource/fixtures/schema_introspection.golden
  v2/pkg/engine/datasource/introspection_datasource/fixtures/schema_introspection_with_custom_root_operation_types.golden
  v2/pkg/federation/fixtures/federated_schema.golden
  v2/pkg/variablesvalidation/variablesvalidation.go
  v2/pkg/variablesvalidation/variablesvalidation_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

fix execution golden tests
  execution/engine/testdata/full_introspection.json
  execution/engine/testdata/full_introspection_with_deprecated.json
  execution/engine/testdata/full_introspection_with_typenames.json
Owners: @wundergraph/Router

add a test
  v2/pkg/variablesvalidation/variablesvalidation.go
  v2/pkg/variablesvalidation/variablesvalidation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix tests
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/resolve/caching.go
  v2/pkg/engine/resolve/caching_test.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/variables.go
  v2/pkg/engine/resolve/variables_renderer.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: implement field resolver logic in the planner
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_field_resolvers_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/engine/datasource/grpc_datasource/required_fields_visitor.go
  v2/pkg/grpctest/Makefile
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse
