Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

deduplicate and merge results
  execution/engine/execution_engine_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

fix nits
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add Heartbeat method to EngineResultWriter
  execution/graphql/result_writer.go
Owners: @wundergraph/Router

Add dedicated heartbeat function to subscription writers
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add heartbeat implementation to test writer
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Rename multipart-specific field to be more general
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Rename SubHeartbeatInterval to SubscriptionHeartbeatInterval
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Update subscription heartbeat handling and logging
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add stub heartbeat method to test subscription writers
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

allow to merge non scalar fields with defer, allow to merge fields with same directives in different order
  v2/pkg/ast/ast_directive.go
  v2/pkg/astnormalization/inline_fragment_selection_merging.go
  v2/pkg/astnormalization/inline_fragment_selection_merging_test.go
  v2/pkg/lexer/literal/literal.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

proper merge scalar fields with internal defer
  v2/pkg/ast/ast_field.go
  v2/pkg/astnormalization/field_deduplication.go
  v2/pkg/astnormalization/field_deduplication_test.go
  v2/pkg/astnormalization/inline_fragment_selection_merging.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add tests with different defer on the same non scalar field
  v2/pkg/astnormalization/inline_fragment_expand_defer_test.go
  v2/pkg/astnormalization/inline_fragment_selection_merging_test.go
  v2/pkg/astnormalization/inline_selections_from_inline_fragments_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add inline defer to operation normalizer
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astnormalization/astnormalization_test.go
  v2/pkg/astnormalization/inline_fragment_expand_defer.go
  v2/pkg/astnormalization/inline_fragment_expand_defer_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: improved subscription heartbeats (#1269)
  execution/graphql/result_writer.go
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/engine/resolve/response.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.223
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.223 (#1285)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

rename the extension
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/type_field.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

narrow the interface and sort everything too
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/visitor.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

address PR comments
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

mark defer paths in node suggestions add todos
  v2/pkg/ast/ast_field.go
  v2/pkg/asttransform/defer_internal.graphql
  v2/pkg/engine/plan/datasource_filter_collect_nodes_visitor.go
  v2/pkg/engine/plan/datasource_filter_node_suggestions.go
  v2/pkg/engine/plan/node_selection_builder.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix a comment and a field name
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix typo
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: add sorting before creating the hash
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: sorting
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: refactoring
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: refactoring
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: refactoring
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: hashing
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: upgrade golangci-lint to v2
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  .golangci.yml
  execution/engine/execution_engine_test.go
  execution/engine/graphql_client_test.go
  execution/federationtesting/gateway/http/ws.go
  execution/subscription/legacy_handler_test.go
  v2/Makefile
  v2/pkg/astparser/parser.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix the BenchmarkExecutionEngine
  execution/engine/execution_engine_test.go
  v2/Makefile
  v2/pkg/engine/datasource/staticdatasource/static_datasource_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

add initial split of the fetches for defer
  v2/pkg/asttransform/baseschema.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_defer_test.go
  v2/pkg/engine/datasourcetesting/datasourcetesting.go
  v2/pkg/engine/plan/datasource_filter_collect_nodes_visitor.go
  v2/pkg/engine/plan/path_builder_visitor.go
  v2/pkg/engine/plan/planner_configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: add sorting before creating the hash (#1286)
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.224
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.224 (#1287)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

rename the option in the resolve.go
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

Revert "rename the option in the resolve.go"
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

streamline the loader/resolver option names
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

rename var in tests
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

chore: fix the BenchmarkExecutionEngine
  execution/Makefile
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/staticdatasource/static_datasource_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse
