Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech

# Releases
v2/CHANGELOG.md @wundergraph/Router

chore: cleanup
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: use switch
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
Owners: @devsergiy, @Noroth, @StarpTech

feat: add support for composite types (#1197)
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech

feat: add handling for aliases
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: cleanup test
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech

refactor: do not use panic
  v2/pkg/middleware/recursion_depth_limiter/recursion_depth_limiter.go
  v2/pkg/middleware/recursion_depth_limiter/recursion_depth_limiter_test.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: update comment
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
Owners: @devsergiy, @Noroth, @StarpTech

fix: fix collecting representation for fetches scoped to concrete types (#1200)
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/path_builder.go
  v2/pkg/engine/plan/path_builder_visitor.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/fetchtree.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve_federation_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

chore(master): release 2.0.0-rc.198
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.198 (#1208)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release execution 1.4.1
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

feat: add support for aliases (#1209)
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
Owners: @devsergiy, @Noroth, @StarpTech

feat: allow use of nullable types in the response message
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech

feat: add handling for nullable fields in arguments
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech

fix: do not trim whitespace around non-block strings
  pkg/astprinter/testdata/starwars.schema.graphql
  v2/pkg/astparser/parser_test.go
  v2/pkg/astparser/testdata/starwars.schema.graphql
  v2/pkg/astparser/testdata/todo.graphql
  v2/pkg/astprinter/testdata/starwars.schema.graphql
  v2/pkg/asttransform/baseschema.go
  v2/pkg/astvalidation/operation_validation_test.go
  v2/pkg/introspection/testdata/starwars.schema.graphql
  v2/pkg/lexer/lexer.go
  v2/pkg/lexer/lexer_test.go
  v2/pkg/middleware/operation_complexity/operation_complexity_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

don't touch v1 and remove unused vars
  pkg/astprinter/testdata/starwars.schema.graphql
  v2/pkg/astprinter/fixtures/starwars_schema_definition.golden
  v2/pkg/astprinter/testdata/starwars.schema.graphql
  v2/pkg/lexer/lexer.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

chore: improve handling for optional types and add more tests
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/grpctest/schema.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

refine lexer tests
  v2/pkg/lexer/lexer_test.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: add more tests
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

chore: improve normalization
  v2/pkg/astnormalization/astnormalization.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: use InDelta
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech

add parser test that should not panic
  v2/pkg/astparser/parser_test.go
Owners: @devsergiy, @Noroth, @StarpTech

fix: do not trim whitespaces around non-block strings (#1211)
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astparser/parser_test.go
  v2/pkg/astparser/testdata/starwars.schema.graphql
  v2/pkg/astparser/testdata/todo.graphql
  v2/pkg/astprinter/fixtures/starwars_schema_definition.golden
  v2/pkg/astprinter/testdata/starwars.schema.graphql
  v2/pkg/asttransform/baseschema.go
  v2/pkg/astvalidation/operation_validation_test.go
  v2/pkg/introspection/testdata/starwars.schema.graphql
  v2/pkg/lexer/lexer.go
  v2/pkg/lexer/lexer_test.go
  v2/pkg/middleware/operation_complexity/operation_complexity_test.go
Owners: @devsergiy, @Noroth, @StarpTech

chore(master): release 2.0.0-rc.199
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.199 (#1210)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: use int in reflect's benchmark
  v2/pkg/netpoll/fd_test.go
Owners: @devsergiy, @Noroth, @StarpTech

fix: use existing files in BenchmarkMinify
  v2/pkg/astminify/minify_test.go
Owners: @devsergiy, @Noroth, @StarpTech

fix: use int in netpoll's BenchmarkSocketFdReflect (#1213)
  v2/pkg/netpoll/fd_test.go
Owners: @devsergiy, @Noroth, @StarpTech

fix: use existing files in BenchmarkMinify (#1214)
  v2/pkg/astminify/minify_test.go
Owners: @devsergiy, @Noroth, @StarpTech

feat: implement resolving fetch dependencies
  execution/engine/federation_integration_test.go
  execution/engine/graphql_client_test.go
  execution/federationtesting/testdata/queries/recursive_fragment.graphql
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/datasourcetesting/datasourcetesting.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

chore: cleanup
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/fetchtree.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: cleanup
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/resolve/fetchtree.go
Owners: @devsergiy, @Noroth, @StarpTech

chore: cleanup
  v2/pkg/engine/plan/node_selection_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech

feat: implement resolving fetch dependencies (#1216)
  execution/engine/federation_integration_test.go
  execution/engine/graphql_client_test.go
  execution/federationtesting/testdata/queries/recursive_fragment.graphql
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/datasourcetesting/datasourcetesting.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/fetchtree.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech

chore(master): release 2.0.0-rc.200
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.200 (#1215)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: update responseinfo body in struct
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech
