Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

handle subscriptions and type assertion
  v2/pkg/engine/postprocess/fetch_id_appender.go
  v2/pkg/engine/postprocess/postprocess.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix imports order
  v2/pkg/engine/postprocess/fetch_id_appender.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix query plans used for debugging
  v2/pkg/engine/postprocess/fetch_id_appender.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add ProvidesData + tests
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: implement ProvidesData on fetch
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve __typename handling
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: correctly handle objects in lists
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: make propagated operation names unique (#1256)
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/fetch_id_appender.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.215
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.215 (#1258)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

chore: implement loader.canSkipFetch
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_skip_fetch_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: generate query plans for subscriptions
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetchtree.go
  v2/pkg/engine/resolve/fetchtree_test.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: support multiple and nested keys
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/astvisitor/visitor.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/configuration.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/engine/datasource/grpc_datasource/required_fields_visitor.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: generate query plans for subscriptions
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetchtree.go
  v2/pkg/engine/resolve/fetchtree_test.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove debug statement
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: check error
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: wait for the initial hook execution before starting the datasource subscription
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add cache config to resolve & gateway
  execution/engine/federation_integration_test.go
  execution/federationtesting/gateway/gateway.go
  execution/federationtesting/gateway/main.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add federation cache test
  execution/engine/federation_caching_test.go
Owners: @wundergraph/Router

chore: add cache config to fetch & loader
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: avoid locking worker goroutine if the trigger was already set up
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve mapping logic for key fields
  v2/pkg/engine/datasource/grpc_datasource/configuration.go
  v2/pkg/engine/datasource/grpc_datasource/configuration_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: generate query plans for subscriptions (#1260)
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetchtree.go
  v2/pkg/engine/resolve/fetchtree_test.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.216
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: fix alias behavior for nullable fields
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove invalid test scenarios
  v2/pkg/engine/datasource/grpc_datasource/configuration_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.216 (#1263)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: simplify selection set stripping logic
  v2/pkg/engine/datasource/grpc_datasource/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove comma switch
  v2/pkg/engine/datasource/grpc_datasource/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: address review comments
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/required_fields_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: add an option to ignore skip/include directives
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astnormalization/directive_include_skip.go
  v2/pkg/astnormalization/directive_include_skip_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

refactor handleRemoveNode -> removeParentNode
  v2/pkg/astnormalization/directive_include_skip.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add test to verify Resolve beahviour with more than one subscription to the same trigger
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: add an option to ignore skip/include directives (#1261)
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astnormalization/directive_include_skip.go
  v2/pkg/astnormalization/directive_include_skip_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.217
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.217 (#1264)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: address review comments
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: proper error checks
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: use InvalidRef
  v2/pkg/astvisitor/visitor.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse
