Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

feat: add depth limit to parser (#1241)
  v2/pkg/astparser/errors.go
  v2/pkg/astparser/parser.go
  v2/pkg/astparser/parser_test.go
  v2/pkg/astparser/tokenizer.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.208
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

feat: add subscriptions hook
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add one more case
  v2/pkg/astnormalization/inline_fragment_field_selection_merging_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add tests of OnSubscriptionStartFn
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove duplicated test
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add test of error with Start method
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: document OnSubscriptionStartFn
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add support for lists in arguments
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/grpctest/Makefile
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.208 (#1236)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

feat: support for lists in response messages
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/compiler_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_nullable_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add deep tests for list value validation
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: bump goldie and use env var for updates of goldies (#1242)
  execution/Makefile
  execution/go.mod
  execution/go.sum
  v2/Makefile
  v2/go.mod
  v2/go.sum
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add deep tests for list value validation (#1244)
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: refactores the OnSubscriptionStart hook to be called from the resolve at the initialization of each client subscription
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/datasource.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: behaviour when errors happend have been changed by mistake
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: merge infline fragment and field selections together
  v2/pkg/ast/ast_selection.go
  v2/pkg/astnormalization/abstract_field_normalizer.go
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astnormalization/astnormalization_test.go
  v2/pkg/astnormalization/field_deduplication.go
  v2/pkg/astnormalization/field_selection_merging.go
  v2/pkg/astnormalization/field_selection_merging_test.go
  v2/pkg/astnormalization/fragment_definition_removal.go
  v2/pkg/astnormalization/inline_fragment_selection_merging.go
  v2/pkg/astnormalization/inline_fragment_selection_merging_test.go
  v2/pkg/astnormalization/remove_self_aliasing.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: change OnSubscriptionStart hook contract
  v2/pkg/engine/resolve/datasource.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: add nested list handling to compiler and json resolve logic
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/compiler_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove comment
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: code cleanup
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/grpctest/schema.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: merge inline fragment and field selections together (#1240)
  v2/pkg/ast/ast_selection.go
  v2/pkg/astnormalization/abstract_field_normalizer.go
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astnormalization/astnormalization_test.go
  v2/pkg/astnormalization/field_deduplication.go
  v2/pkg/astnormalization/field_selection_merging.go
  v2/pkg/astnormalization/field_selection_merging_test.go
  v2/pkg/astnormalization/fragment_definition_removal.go
  v2/pkg/astnormalization/inline_fragment_selection_merging.go
  v2/pkg/astnormalization/inline_fragment_selection_merging_test.go
  v2/pkg/astnormalization/remove_self_aliasing.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.209
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.209 (#1245)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: adds execution tests
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove comment
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improvement
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: fix selecting parent of unique items
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: parent entity jump by making it is the last possible option of selecting node
  v2/pkg/astvalidation/operation_rule_validate_empty_selection_set.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix tests
  v2/pkg/engine/plan/datasource_filter_visitor_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: cleanup
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: planner fixes for parent entity jumps and unique nodes selections (#1230)
  v2/pkg/astvalidation/operation_rule_validate_empty_selection_set.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/plan/datasource_filter_visitor.go
  v2/pkg/engine/plan/datasource_filter_visitor_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.210
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.210 (#1247)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: hooks now can decide if the subscription has to end
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: events are written directly on the resolveCtx
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve test
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve names to align with the ones in the ADR of the router
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/resolve/datasource.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: execute hooks inside worker, so that we don't block the main loop too long
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse
