Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

chore: improve handling of non nullable lists
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/grpctest/Makefile
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: if only one event was to be skipped, every event was skipped! reduce duplicated code
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove now useless handleTriggerUpdateSubscription
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: send updates on subscription on time (there is still a data race to fix when a subscription is completed while a hook is still sending messages)
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: avoid workChan races
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: lint issue
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: test v2 benchmarks on ci
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  execution/Makefile
  v2/Makefile
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

ignore fd_test on windows
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  v2/pkg/netpoll/fd_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

remove noise from tests
  v2/Makefile
  v2/pkg/netpoll/fd_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: test v2 benchmarks on ci (#1238)
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  execution/Makefile
  v2/Makefile
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/netpoll/fd_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.211
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: disable minifier for gRPC datasource
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve list handling
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/compiler_test.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve mockservice
  v2/pkg/grpctest/mockservice.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: disable minifier for gRPC datasource (#1249)
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: address PR comments
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/ast/ast_type.go
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: update comment
  v2/pkg/ast/ast_type.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: use max values for testing
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/grpctest/mockservice.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: move helper function to ast
  v2/pkg/ast/ast_type.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: make helper more strict
  v2/pkg/ast/ast_type.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: redesign handling for lists in gRPC (#1246)
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/ast/ast_type.go
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/compiler_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_nullable_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/Makefile
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/schema.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.211
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.211 (#1248)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: only use null on the outer list element
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/grpctest/mockservice.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove error case
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: null for an non nullable list should return an error
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: handle null only for outer list (#1250)
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/grpctest/mockservice.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.212
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.212 (#1251)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: fix parent node jump lookup
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: fix parent node jump lookup (#1252)
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.213
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.213 (#1253)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: rename SubscriptionOnStartFns to StartupHooks for clarity
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: improve handling for nullable list arguments
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: handle nullable and nested argument lists properly (#1254)
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_list_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.214
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.214 (#1255)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: make propagated operation names unique
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/fetch_id_appender.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router
