Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

fix: supply Info with the GraphQLResponse struct
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix readme
  README.md
Owners: @wundergraph/Router

chore: fix missing union field refs after creating the federated schema
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: missing field refs in union types (#1228)
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add tests for configuration
  v2/pkg/engine/datasource/graphql_datasource/configuration_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove duplicate test
  v2/pkg/engine/datasource/graphql_datasource/configuration_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: cleanup
  v2/pkg/engine/datasource/graphql_datasource/configuration_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: use require
  v2/pkg/engine/datasource/graphql_datasource/configuration_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add tests cases for configuration (#1229)
  v2/pkg/engine/datasource/graphql_datasource/configuration_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.205
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.205 (#1226)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: parent entity jump by making it is the last possible option of selecting node
  v2/pkg/astvalidation/operation_rule_validate_empty_selection_set.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: fix selecting parent of unique items
  v2/pkg/engine/plan/datasource_filter_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: allow multiple aliases
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: fix merging fetches and add dependencies update
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches_test.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add more comments
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/postprocess/postprocess.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: more comments
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: allow multiple aliases (#1231)
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.206
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.206 (#1233)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

fix: fix merging fetches and add dependencies update (#1232)
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches_test.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.207
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.207 (#1234)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: supply GraphQLResponse info in the resolve benchmark (#1227)
  README.md
  v2/pkg/engine/resolve/resolve_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: use NodeFragmentIsAllowedOnNode to check fragmentSpread (#1223)
  v2/pkg/ast/ast_node.go
  v2/pkg/astvalidation/operation_rule_fragments.go
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

check all cases for interface implementation
  v2/pkg/ast/ast_node.go
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: check that object claims to implement interface
  v2/pkg/ast/ast_node.go
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix typos
  v2/pkg/ast/ast_node.go
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add documentation and subtle refactorings
  v2/pkg/ast/ast_interface_type_definition.go
  v2/pkg/ast/ast_node.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

refactored out interface "claims"
  v2/pkg/ast/ast_node.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: add ParseWithDepthLimit to astparser.Parser
  v2/pkg/astparser/errors.go
  v2/pkg/astparser/parser.go
  v2/pkg/astparser/parser_test.go
  v2/pkg/astparser/tokenizer.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: check that object claims to implement interface (#1235)
  v2/pkg/ast/ast_interface_type_definition.go
  v2/pkg/ast/ast_node.go
  v2/pkg/astvalidation/operation_validation_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: test v2 benchmarks on ci
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  execution/Makefile
  v2/Makefile
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

ignore fd_test on windows
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  v2/pkg/netpoll/fd_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: refactor ParseWithDepthLimit to TokenizeWithLimits, allowing to limit MaxDepth and MaxFields
  v2/pkg/astparser/errors.go
  v2/pkg/astparser/parser.go
  v2/pkg/astparser/parser_test.go
  v2/pkg/astparser/tokenizer.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: add TokenizerStats to TokenizeWithLimits so it can be estimated
  v2/pkg/astparser/parser.go
  v2/pkg/astparser/parser_test.go
  v2/pkg/astparser/tokenizer.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: merge infline fragment and field selections together
  v2/pkg/ast/ast_selection.go
  v2/pkg/astnormalization/abstract_field_normalizer.go
  v2/pkg/astnormalization/astnormalization.go
  v2/pkg/astnormalization/field_deduplication.go
  v2/pkg/astnormalization/field_selection_merging.go
  v2/pkg/astnormalization/field_selection_merging_test.go
  v2/pkg/astnormalization/fragment_definition_removal.go
  v2/pkg/astnormalization/inline_fragment_field_selection_merging.go
  v2/pkg/astnormalization/inline_fragment_field_selection_merging_test.go
  v2/pkg/astnormalization/inline_fragment_selection_merging.go
  v2/pkg/astnormalization/inline_fragment_selection_merging_test.go
  v2/pkg/astnormalization/remove_self_aliasing.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

remove noise from tests
  v2/Makefile
  v2/pkg/netpoll/fd_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: bump goldie and fix update flag
  execution/Makefile
  execution/go.mod
  execution/go.sum
  v2/Makefile
  v2/go.mod
  v2/go.sum
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

skip caching for updating goldies
  execution/Makefile
  v2/Makefile
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse
