Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

fix typo
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: update comments and remove unused fields
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/path_builder_visitor.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix comment for review
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: update comments and remove unused fields (#1280)
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/path_builder_visitor.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.221
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

feat: add option to send why fields where included in the request
  execution/engine/config_factory_federation.go
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

fix style and comments
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add heartbeat implementation to test writer
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add Heartbeat method to EngineResultWriter
  execution/graphql/result_writer.go
Owners: @wundergraph/Router

Rename multipart-specific field to be more general
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add dedicated heartbeat function to subscription writers
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Update subscription heartbeat handling and logging
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add stub heartbeat method to test subscription writers
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Rename SubHeartbeatInterval to SubscriptionHeartbeatInterval
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

rename fields
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.221 (#1279)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

use post method in the test
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

add defer definition
  v2/pkg/asttransform/base.graphql
  v2/pkg/asttransform/baseschema.go
  v2/pkg/asttransform/baseschema_test.go
  v2/pkg/asttransform/defer.graphql
  v2/pkg/asttransform/defer_internal.graphql
  v2/pkg/asttransform/fixtures/complete.golden
  v2/pkg/asttransform/fixtures/custom_query_name.golden
  v2/pkg/asttransform/fixtures/mutation_only.golden
  v2/pkg/asttransform/fixtures/mutation_only_internal_defer.golden
  v2/pkg/asttransform/fixtures/schema_missing.golden
  v2/pkg/asttransform/fixtures/simple.golden
  v2/pkg/asttransform/fixtures/subscription_only.golden
  v2/pkg/asttransform/fixtures/subscription_renamed.golden
  v2/pkg/engine/plan/analyze_plan_kind.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: standardize variable naming for error constants (ST1012) (#1274)
  v2/pkg/engine/resolve/inputtemplate.go
  v2/pkg/engine/resolve/subscription_filter.go
  v2/pkg/operationreport/operationreport_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

chore: simplify events flow
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/datasource.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix compile issues
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix tests
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove pubsub datasource implementations and related tests, it has been migrated to router
  v2/pkg/engine/datasource/pubsub_datasource/kafka_event_manager.go
  v2/pkg/engine/datasource/pubsub_datasource/nats_event_manager.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource_test.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_kafka.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_nats.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

test: add new test for handling multiple subscriptions with the same trigger in GraphQL
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: handle panics for invalid federated responses
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: handle mapped indexes and add comments
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add test for invalid lookup
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/schema.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add warehouse to union
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

use the fieldsRequestedBy name everywhere
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

add normalization rule to expand defer into inline defer per field
  v2/pkg/ast/ast_directive.go
  v2/pkg/ast/ast_inline_fragment.go
  v2/pkg/astnormalization/astnormalization_test.go
  v2/pkg/astnormalization/fragment_spread_inlining_test.go
  v2/pkg/astnormalization/inline_fragment_expand_defer.go
  v2/pkg/astnormalization/inline_fragment_expand_defer_test.go
  v2/pkg/astnormalization/inline_selections_from_inline_fragments_test.go
  v2/pkg/lexer/literal/literal.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add test for loader
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve error message
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

use protectedFields created by composition
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/federation_metadata.go
  v2/pkg/engine/plan/type_field.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

gofmt
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

gofmt
  v2/pkg/engine/plan/type_field.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: improve handling for invalid responses (#1283)
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
  v2/pkg/grpctest/mapping/mapping.go
  v2/pkg/grpctest/mockservice.go
  v2/pkg/grpctest/product.proto
  v2/pkg/grpctest/productv1/product.pb.go
  v2/pkg/grpctest/productv1/product_grpc.pb.go
  v2/pkg/grpctest/schema.go
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.222
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

use short paths in field accessors
  execution/engine/config_factory_federation.go
  v2/pkg/engine/resolve/fetch.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.222 (#1284)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router
