Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

check for errors and use better pattern to skip tests while benchmarking
  execution/Makefile
  execution/engine/execution_engine_test.go
  v2/Makefile
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: execute startup hooks inside worker go routine
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove parameter not used anymore
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: upgrade golangci-lint to v2
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  .golangci.yml
  execution/engine/execution_engine_test.go
  execution/engine/graphql_client_test.go
  execution/federationtesting/gateway/http/ws.go
  execution/subscription/legacy_handler_test.go
  v2/Makefile
  v2/pkg/astparser/parser.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

bump actions
  .github/workflows/execution.yml
  .github/workflows/v2.yml
Owners: @wundergraph/Router

chore: fix the BenchmarkExecutionEngine (#1288)
  execution/Makefile
  execution/engine/execution_engine_test.go
  v2/Makefile
  v2/pkg/engine/datasource/staticdatasource/static_datasource_test.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: enable gci formatter
  .golangci.yml
Owners: @wundergraph/Router

feat: upgrade all components to go 1.25
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  examples/federation/go.mod
  examples/federation/go.sum
  execution/go.mod
  go.mod
  go.work
  v2/go.mod
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: upgrade all components to go 1.25 - fixed issues found by latest golangci-lint
  pkg/ast/ast_node_kind_test.go
  pkg/ast/ast_root_operation_type_definition.go
  pkg/astnormalization/inject_input_default_values.go
  pkg/astnormalization/inject_input_default_values_test.go
  pkg/astparser/parser_test.go
  pkg/astvalidation/operation_rule_fragments.go
  pkg/astvalidation/rule_populated_type_bodies.go
  pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
  pkg/engine/datasource/graphql_datasource/graphql_tws_handler_test.go
  pkg/engine/datasource/graphql_datasource/graphql_ws_handler_test.go
  pkg/engine/datasource/httpclient/httpclient_test.go
  pkg/engine/datasource/httpclient/nethttpclient.go
  pkg/execution/datasource_pipeline_test.go
  pkg/execution/execution_test.go
  pkg/execution/planning.go
  pkg/federation/schema.go
  pkg/federation/schema_test.go
  pkg/federation/sdlmerge/sdlmerge.go
  pkg/graphql/execution_engine_v2.go
  pkg/graphql/execution_engine_v2_norace_test.go
  pkg/http/http.go
  pkg/imports/graphql_file.go
  pkg/operationreport/operationreport_test.go
  pkg/subscription/websocket/client_test.go
  pkg/testing/federationtesting/federation_integration_test.go
  pkg/testing/federationtesting/gateway/datasource_poller.go
  pkg/testing/federationtesting/gateway/main.go
  pkg/testing/federationtesting/graphql_client_test.go
Owners: @wundergraph/Router

Revert "feat: upgrade all components to go 1.25"
  pkg/ast/ast_node_kind_test.go
  pkg/ast/ast_root_operation_type_definition.go
  pkg/astnormalization/inject_input_default_values.go
  pkg/astnormalization/inject_input_default_values_test.go
  pkg/astparser/parser_test.go
  pkg/astvalidation/operation_rule_fragments.go
  pkg/astvalidation/rule_populated_type_bodies.go
  pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
  pkg/engine/datasource/graphql_datasource/graphql_tws_handler_test.go
  pkg/engine/datasource/graphql_datasource/graphql_ws_handler_test.go
  pkg/engine/datasource/httpclient/httpclient_test.go
  pkg/engine/datasource/httpclient/nethttpclient.go
  pkg/execution/datasource_pipeline_test.go
  pkg/execution/execution_test.go
  pkg/execution/planning.go
  pkg/federation/schema.go
  pkg/federation/schema_test.go
  pkg/federation/sdlmerge/sdlmerge.go
  pkg/graphql/execution_engine_v2.go
  pkg/graphql/execution_engine_v2_norace_test.go
  pkg/http/http.go
  pkg/imports/graphql_file.go
  pkg/operationreport/operationreport_test.go
  pkg/subscription/websocket/client_test.go
  pkg/testing/federationtesting/federation_integration_test.go
  pkg/testing/federationtesting/gateway/datasource_poller.go
  pkg/testing/federationtesting/gateway/main.go
  pkg/testing/federationtesting/graphql_client_test.go
Owners: @wundergraph/Router

feat: upgrade all components to go 1.25 (#1289)
  .github/workflows/execution.yml
  .github/workflows/v2.yml
  examples/federation/go.mod
  examples/federation/go.sum
  execution/go.mod
  go.mod
  go.work
  v2/go.mod
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.225
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

feat: add support of field selection reasons extensions (#1282)
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/federation_metadata.go
  v2/pkg/engine/plan/planner.go
  v2/pkg/engine/plan/type_field.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

address comments, part 1
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/federation_metadata.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: refactor CoordinateDependencies and FetchReasons
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/datasourcetesting/datasourcetesting.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches_test.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/fetchtree.go
  v2/pkg/engine/resolve/loader.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

remove DataSourceInfo()
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix lint issues
  execution/Makefile
  go.work
  v2/Makefile
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/resolve/fetch.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

comment the FetchInfo()
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add compile-time assert and fix comments
  v2/pkg/engine/resolve/fetch.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add comments and early return
  execution/Makefile
  v2/Makefile
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

relax the if condition
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: refactor CoordinateDependencies, FetchReasons (#1293)
  execution/Makefile
  execution/engine/execution_engine_test.go
  go.work
  v2/Makefile
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/datasourcetesting/datasourcetesting.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/federation_metadata.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/postprocess/create_concrete_single_fetch_types.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches.go
  v2/pkg/engine/postprocess/deduplicate_single_fetches_test.go
  v2/pkg/engine/postprocess/postprocess.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/fetchtree.go
  v2/pkg/engine/resolve/loader.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.225
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.225 (#1291)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

use latest FetchInfo API
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: validate presense of optional "@requires" dep-cy
  execution/engine/execution_engine_helpers_test.go
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

use references to ignore some entities
  execution/engine/execution_engine_test.go
  v2/pkg/engine/resolve/loader.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add subscription to registry after startup hooks execution
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: detecting requires on interface members
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: detecting requires on interface members (#1295)
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.226
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.226 (#1296)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

handle nested case for failed items
  execution/engine/execution_engine_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/required_fields_visitor.go
  v2/pkg/engine/plan/required_fields_visitor_test.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

remove redundant newlines
  v2/pkg/engine/plan/required_fields_visitor_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

handle only nullable fields
  execution/engine/execution_engine_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/node_selection_builder.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
  v2/pkg/engine/resolve/resolve.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

add comments
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

refine edge cases
  v2/pkg/engine/plan/required_fields_visitor.go
  v2/pkg/engine/plan/visitor.go
  v2/pkg/engine/resolve/loader.go
  v2/pkg/engine/resolve/loader_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix tests
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_federation_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/datasourcetesting/datasourcetesting.go
  v2/pkg/engine/plan/configuration.go
  v2/pkg/engine/plan/planner_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse
