Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

fix: fix rewriting an interface object implementing interface
  v2/pkg/engine/plan/abstract_selection_rewriter_helpers.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix comment
  v2/pkg/engine/plan/abstract_selection_rewriter_helpers.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: fix rewriting an interface object implementing interface (#1265)
  v2/pkg/engine/plan/abstract_selection_rewriter_helpers.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.218
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.218 (#1266)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: handle entity order correctly
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
  v2/pkg/engine/datasource/grpc_datasource/required_fields_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add error handling when mapping was not found
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve error handling
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve handling for shared objects
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove type from schema
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove type from entity union
  v2/pkg/grpctest/testdata/products.graphqls
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: address some review comments
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: check if typename already exists
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add proper comments for json builder
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: shorten function
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: prevent protential int overflow
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve comments
  v2/pkg/engine/datasource/grpc_datasource/configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: add support for multiple key directives (#1262)
  execution/engine/execution_engine_grpc_test.go
  v2/pkg/astvisitor/visitor.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/compiler.go
  v2/pkg/engine/datasource/grpc_datasource/configuration.go
  v2/pkg/engine/datasource/grpc_datasource/configuration_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_composite_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_federation_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan_visitor_federation.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource_test.go
  v2/pkg/engine/datasource/grpc_datasource/json_builder.go
  v2/pkg/engine/datasource/grpc_datasource/mapping_test_helper.go
  v2/pkg/engine/datasource/grpc_datasource/required_fields_visitor.go
  v2/pkg/grpctest/mapping/mapping.go
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.219
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.219 (#1267)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

feat: rewrite abstact fragments for grpc
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/introspection_datasource/factory.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource.go
  v2/pkg/engine/datasource/staticdatasource/static_datasource.go
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/datasource_filter_visitor_test.go
  v2/pkg/engine/plan/planner_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

use behavior structure to specify flag for enforcing
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/grpc_datasource/grpc_datasource.go
  v2/pkg/engine/datasource/introspection_datasource/factory.go
  v2/pkg/engine/datasource/introspection_datasource/planner.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource.go
  v2/pkg/engine/datasource/staticdatasource/static_datasource.go
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/datasource_filter_visitor_test.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/path_builder_visitor.go
  v2/pkg/engine/plan/planner_configuration.go
  v2/pkg/engine/plan/planner_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add review fixes
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/introspection_datasource/factory.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource.go
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/datasource_filter_visitor_test.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/path_builder_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

use errors to indicate trouble with making rewriter
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_info.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/node_selection_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add tests that verify no flattening when flag is not set
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_info.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/datasource_configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix typos
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_info.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/datasource_configuration.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix more typos and style
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/introspection_datasource/factory.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/path_builder_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

feat: rewrite abstract fragments for grpc (#1268)
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/introspection_datasource/factory.go
  v2/pkg/engine/datasource/introspection_datasource/planner.go
  v2/pkg/engine/datasource/pubsub_datasource/pubsub_datasource.go
  v2/pkg/engine/datasource/staticdatasource/static_datasource.go
  v2/pkg/engine/plan/abstract_selection_rewriter.go
  v2/pkg/engine/plan/abstract_selection_rewriter_info.go
  v2/pkg/engine/plan/abstract_selection_rewriter_test.go
  v2/pkg/engine/plan/datasource_configuration.go
  v2/pkg/engine/plan/datasource_filter_visitor_test.go
  v2/pkg/engine/plan/node_selection_visitor.go
  v2/pkg/engine/plan/path_builder_visitor.go
  v2/pkg/engine/plan/planner_configuration.go
  v2/pkg/engine/plan/planner_test.go
  v2/pkg/engine/plan/visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release 2.0.0-rc.220
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore(master): release 2.0.0-rc.220 (#1270)
  release-please-manifest.json
  v2/CHANGELOG.md
Owners: @wundergraph/Router

chore: apply De Morgan's law to complex conditions
  v2/pkg/astnormalization/implicit_extend_root_operation.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/plan/path_builder_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: replace unused parameter notation with blank identifier in receiver definitions (st1006)
  v2/pkg/engine/plan/plan.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/node_array.go
  v2/pkg/engine/resolve/node_custom.go
  v2/pkg/engine/resolve/node_enum.go
  v2/pkg/engine/resolve/node_object.go
  v2/pkg/engine/resolve/node_scalar.go
  v2/pkg/engine/resolve/variables.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: apply De Morgan's law to complex conditions (#1271)
  v2/pkg/astnormalization/implicit_extend_root_operation.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/plan/path_builder_visitor.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: use tagged switches to simplify the code
  v2/pkg/astparser/parser.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_sse_handler.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
  v2/pkg/engine/resolve/subscription_filter.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix qf1012 golangci-lint issues
  v2/pkg/astnormalization/uploads/path.go
  v2/pkg/astvisitor/visitor_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/httpclient/nethttpclient.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/variablesvalidation/variablesvalidation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: standardize variable naming for error constants (ST1012)
  v2/pkg/engine/resolve/inputtemplate.go
  v2/pkg/engine/resolve/subscription_filter.go
  v2/pkg/operationreport/operationreport_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

remove panic from sse handler
  v2/pkg/engine/datasource/graphql_datasource/graphql_sse_handler.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_sse_handler_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: use tagged switches to simplify the code (QF1003) (#1272)
  v2/pkg/astparser/parser.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_sse_handler.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_sse_handler_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
  v2/pkg/engine/resolve/subscription_filter.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore(master): release execution 1.5.0
  execution/CHANGELOG.md
  release-please-manifest.json
Owners: @wundergraph/Router

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router
