Repository wundergraph/graphql-go-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Router, @devsergiy, @StarpTech, @Noroth, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @devsergiy @StarpTech

v2 @devsergiy @Noroth @StarpTech @jensneuse

# Releases
v2/CHANGELOG.md @wundergraph/Router

fix: always close response body
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: add RFC
  v2/pkg/engine/datasource/grpc_datasource/rfcs/field-resolvers.md
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix leak in subscriptionClient.dial/newWSConnectionHandler
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

remove redundant check
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

drain to EOF
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add dedicated heartbeat function to subscription writers
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/response.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add Heartbeat method to EngineResultWriter
  execution/graphql/result_writer.go
Owners: @wundergraph/Router

Add stub heartbeat method to test subscription writers
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Rename multipart-specific field to be more general
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

Add heartbeat implementation to test writer
  v2/pkg/engine/resolve/event_loop_test.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add tests and fix flaky test
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

add url checks
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

make tests parallel
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: use goldie fixture as expected response
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

minify and preserve order of fields
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

use fast comparisons only
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router

fix performance issues in tests
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

improve tests robustness
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: standardize variable naming for error constants (ST1012)
  v2/pkg/engine/resolve/inputtemplate.go
  v2/pkg/engine/resolve/subscription_filter.go
  v2/pkg/operationreport/operationreport_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: update approach 1
  v2/pkg/engine/datasource/grpc_datasource/rfcs/field-resolvers.md
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

fix: always close response body (#1276)
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_subscription_client_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix qf1012 golangci-lint issues
  v2/pkg/astnormalization/uploads/path.go
  v2/pkg/astvisitor/visitor_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/httpclient/nethttpclient.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/variablesvalidation/variablesvalidation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: simplify printing (qf1012) (#1273)
  v2/pkg/astnormalization/uploads/path.go
  v2/pkg/astvisitor/visitor_test.go
  v2/pkg/engine/datasource/grpc_datasource/execution_plan.go
  v2/pkg/engine/datasource/httpclient/nethttpclient.go
  v2/pkg/engine/resolve/resolve_test.go
  v2/pkg/variablesvalidation/variablesvalidation.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove return close option
  v2/pkg/engine/datasource/graphql_datasource/configuration.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource.go
  v2/pkg/engine/datasource/graphql_datasource/graphql_datasource_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove legacy test apps
  testapps/chat/.gitignore
  testapps/chat/.gqlgen.yml
  testapps/chat/chat_test.go
  testapps/chat/generated.go
  testapps/chat/go.mod
  testapps/chat/go.sum
  testapps/chat/handler.go
  testapps/chat/models_gen.go
  testapps/chat/package-lock.json
  testapps/chat/package.json
  testapps/chat/public/index.html
  testapps/chat/readme.md
  testapps/chat/resolvers.go
  testapps/chat/schema.graphql
  testapps/chat/server/server.go
  testapps/chat/src/App.js
  testapps/chat/src/Room.js
  testapps/chat/src/components/room.js
  testapps/chat/src/index.js
  testapps/chat/start-server.sh
  testapps/kafka_pubsub/README.md
  testapps/kafka_pubsub/docker-compose-cluster.yml
  testapps/kafka_pubsub/docker-compose.yml
  testapps/kafka_pubsub/example_datasources.json
  testapps/kafka_pubsub/example_field_configs.json
  testapps/kafka_pubsub/go.mod
  testapps/kafka_pubsub/go.sum
  testapps/kafka_pubsub/kafka_jaas.conf
  testapps/kafka_pubsub/main.go
  testapps/kafka_pubsub/schema.graphql
  testapps/kafka_pubsub/transactional_producer/README.md
  testapps/kafka_pubsub/transactional_producer/go.mod
  testapps/kafka_pubsub/transactional_producer/go.sum
  testapps/kafka_pubsub/transactional_producer/main.go
Owners: @wundergraph/Router

chore: trigger CI
  execution/engine/execution_engine_grpc_test.go
Owners: @wundergraph/Router

chore: sync go work
  examples/federation/go.sum
  execution/go.mod
  execution/go.sum
  go.mod
  go.sum
  go.work
  v2/go.mod
  v2/go.sum
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: use correct grpc version
  execution/go.mod
  execution/go.sum
  go.sum
  go.work.sum
  v2/go.mod
  v2/go.sum
Owners: @wundergraph/Router, @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: HookableSubscriptionDataSource should also be without close
  v2/pkg/engine/resolve/datasource.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix initialHooksClose value
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: simplify hooks implementation
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove pinned subscription
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: remove unused code, fix naming
  v2/pkg/engine/resolve/context.go
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: fix test
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: avoid data source start if the subscription should close
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: improve resolve structure
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: type
  v2/pkg/engine/resolve/resolve.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: readd pinned updater to sub
  v2/pkg/engine/resolve/resolve.go
  v2/pkg/engine/resolve/resolve_test.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore: replace unused parameter with blank identifier in receiver definitions (st1006) (#1275)
  v2/pkg/engine/plan/plan.go
  v2/pkg/engine/resolve/fetch.go
  v2/pkg/engine/resolve/node_array.go
  v2/pkg/engine/resolve/node_custom.go
  v2/pkg/engine/resolve/node_enum.go
  v2/pkg/engine/resolve/node_object.go
  v2/pkg/engine/resolve/node_scalar.go
  v2/pkg/engine/resolve/variables.go
Owners: @devsergiy, @Noroth, @StarpTech, @jensneuse

chore use goldie fixture as expected response (#1278)
  execution/engine/execution_engine_test.go
Owners: @wundergraph/Router
